@{
    ViewData["Title"] = "Home Page";
}


<div id="startupoverlay" class="startupoverlay">
    <div id ="welcometext" class="welcometext">
        <h1>Press the map to begin</h1>
        <button>Got it</button>
    </div>
</div>

<div>
   
    <!-- Custom Zoom Control -->
    <div class="custom-zoom-control">
        <button id="zoom-in">+</button>
        <button id="zoom-out">-</button>
    </div>

    <!-- The map itself -->
    <div id="map"></div>
   
    

</div>