@{
    ViewData["Title"] = "Home Page";
}


<div>
   
    <!-- Custom Zoom Control -->
    <div class="custom-zoom-control">
        <button id="zoom-in">+</button>
        <button id="zoom-out">-</button>
    </div>
    <div id="map"></div>
   
    

</div>