html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#map {
    height: 82%;
    position: absolute;
    top: 8%;
    bottom: 1%;
    right: 0;
    left: 0;
}

.leaflet-popup-content button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.navbar {
    z-index: 4000;
}


.custom-zoom-control {
    position: absolute;
    top: 10%;
    left: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.custom-zoom-control button {
    background: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid black;
}

.custom-zoom-control button:hover {
    background: #f0f0f0;
}

#startupoverlay {
    position: fixed; /* Stretches over the entire screen */
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex; /* Flexbox to center content */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    z-index: 1000; /* Makes sure it's on top of other content */
}

#welcometext {
    color: white; /* Text color */
    text-align: center; /* Center align text */
    padding: 20px; /* Optional padding */
    background-color: rgba(255, 255, 255, 0.1); /* Optional background for the text area */
    border-radius: 10px; /* Optional rounded corners */
}